body{
    display: relative;
    flex-direction: column;
}
section{
    display: block;
    margin: 15em;
    margin-top: 10vh;
    width: 50%;
}
h1 p{
    margin-top: 10vh;
    width: 50%;
    text-align: center;
    margin-left: 50px;
    padding-left: 10vh;
}
#stickmanDiv{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.gismc1{
    right: 25%;
}
.gismimg{
    right: 50%;
}
#bouncingballDiv{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
.gibbpc1{
    right: 25%;
}
.gibbimg{
    right: 50%;
}
#logicalDiv{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}
#loopDiv{
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
}

