* {
    margin: 0;
    padding: 0;
    font-family: 'Klee One', cursive;
}

body{
    width: 100%;
    height: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.header{
    min-height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(../images/mainscreen.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
    
}
nav{
    display: flex;
    padding: 0% 6%;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    width: 200px;
}
.nav-links{
    flex: 1;
    text-align: right;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;
}

#canvasDiv{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.text-box1{
    color: #fff;
    position: absolute;
    top: 82%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-size: 30px;
}
.text-box1 h1{
    font-size: 40px;
}
.text-box2{
    width: 20%;
    color: #111;
    position: absolute;
    top: 160%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    padding-bottom: 800px;
}
.scroll{
    display:none;
}
.footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: rgb(16, 16, 17);
    color: white;
    opacity: 80%;
    text-align: center;
}

@media(max-width: 1440px){
    #canvasDiv{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .text-box1{
        color: #fff;
        position: absolute;
        top: 85%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 25px; 
    }
    .text-box2{
        width: 20%;
        color: #111;
        position: absolute;
        top: 160%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
    }
}

@media(max-width: 400px){
    .text-box2{
        width: 80%;
        color: #111;
        position: absolute;
        top: 115%;
        left: 50%;
        padding-bottom: 40px;
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .scroll{
        display:block;
        color: #fff;
        position: absolute;
        top: 95%;
        left: 85%;
        transform: translate(-50%, -50%);
        text-align: center;
        font-size: 20px;
    }
}
