* {
    margin: 0;
}
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mainscreentogame {
    width: 150px;
    height: 150px;
    background-color: red;
    border-radius: 30%;
    margin-top: 300px;
}